section {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.hero-section {
	text-align: center;
    padding-top: 15rem;

    h1 {
    	padding-bottom: 5rem;
    	font-size: 35px;
    }

    .main-header {
    	font-size: 35px;
    }

    a {
    	padding: 20px;
    	color: #229be2;
    	border: 2px solid;
    	border-radius: 12px;
    	transition: 0.4s ease;
    	&:hover {
			color: #fff;
			background-color: #229be2;
    	}
    }
}

.container--hero-section {
	padding-top: 10rem;
}