.hero-section {
	text-align: center;
    padding-top: 5rem;

    h1 {
    	padding-bottom: 5rem;
    	font-size: 35px;
    }

    .main-header {
    	font-size: 45px;
    	text-decoration: underline;
    }

    a {
    	padding: 20px;
    	color: #229be2;
    	border: 2px solid;
    	border-radius: 12px;
    	transition: 0.4s ease;
    	&:hover {
			color: #fff;
			background-color: #229be2;
    	}
    }
}

.container {
	img {
		border-radius: 100%;
	}
}

.content--centered {
	text-align: center;
}

.container--hero-section {
	padding-top: 10rem;
}

.lf-footer {
	height: 50px;
}

.footer-text {
	padding: 1em;
	vertical-align: middle;
}

@media (max-width: 767px) {
	.lf-menu__items {display:none;}

	.lf-menu__logo {
		text-align: center !important;
	}

	.hero-section--links {
		display: grid;
	}
}