// Variables set at default settings. 
$container-width: 1100px;
$col-angle-down: rotate(8deg);
$col-angle-up: rotate(-8deg);
$main-color: #229be2;
$menu-item-color: #fff;
$menu-padding: 10px;
$menu-margin: 30px;
$header-margin: 1rem;